<html ng-app="">
    <head>
        <title>Filter Sample</title>
        <script src="../lib/angular.min.js"></script>
    </head>
    <body ng-init="customers=[{name:'Hendro',city:'Salatiga'},{name:'Steven',city:'Ambarawa'},{name:'Budi',city:'Semarang'}]">
        Name : <input type="text" ng-model="name"/><br/>
        <p>{{name}}</p>
        <br/>
        <ul>
            <li ng-repeat="cust in customers | filter:name | orderBy:'name'">{{cust.name | uppercase}} - {{cust.city | lowercase}}</li>
        </ul>
    </body>
</html>
